@tailwind base;
@tailwind components;
@tailwind utilities;

/* Reset some default styles */
html,
body {
  padding: 0;
  margin: 0;
  font-family: 'DM Sans', sans-serif; /* Using the imported font */
  line-height: 1.6;
  font-size: 1rem; /* Using rem units for better scalability */
}

* {
  box-sizing: border-box;
}

/* Global link styles */
a {
  color: #0070f3; /* Default link color */
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/* Global image styles */
img {
  max-width: 100%;
  display: block;
}

